.back{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding-left: 32px;
  padding-top: 33px;

  img{
    padding-right: 20px;
  }
  h1{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;

    max-width: 245px;
    width: 100%;

    color: #3C3C3C;
  }

  @media screen and (min-width: 429px) {

    display: flex;
    padding: 0px 0px;
    width: auto;

    img{
      height: 44px;
      padding-right: 40px;
    }

    h1{
      font-size: 28px;
      line-height: 32px;

      max-width: 509px;
    }
  }
  @media screen and (max-width: 376px){
    left: 7px;
  }
}