.false{
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .fup{
    padding: 80px 0px;

    justify-content: center;
    display: flex;
    flex-direction: column;

    .icon{
      padding: 35px 0px;
      height: 132px;
    }
    .pay{
      padding: 5px 0px;

      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }
    .sum{
      font-weight: bold;
      font-size: 36px;
      line-height: 41px;
      text-align: center;

      color: #D66868;
    }
  }

  .fdown{

    .to {
      font-size: 14px;
      line-height: 16px;

      color: #3C3C3C;
    }

    .date {
      padding: 5px 0px;

      font-size: 12px;
      line-height: 16px;

      color: rgba(0, 0, 0, 0.36);
    }

    .hash {
      padding: 5px 0px;

      font-size: 12px;
      line-height: 16px;

      color: rgba(0, 0, 0, 0.36);
    }
    .error{
      padding: 5px 0px;

      font-size: 12px;
      line-height: 16px;

      color: rgba(0, 0, 0, 0.36);
    }
  }
  .return{
    display: flex;
    justify-content: center;

    padding: 18px 45px;
    margin: 35px 0px;

    background: #3D7FFF;
    border-radius: 33.5px;

    button{
      color: #EEEEEE;
    }
  }

  @media screen and (min-width: 429px) {
    justify-content: center;
    padding: 100px;

    .fup{
      padding: 30px 0px;
      .icon{
        height: 208px;
      }
      .pay{
        font-size: 36px;
      }
      .sum{
        font-size: 64px;

        padding: 25px 0px;
      }
    }

    .fdown{
      .to{
        display: none;
      }
      .date, .hash{
        font-size: 24px;
      }
    }
    .error{
      display: none;
    }

    .return{
      display: none;
    }
  }
}