.footer {
  width: 100%;

  background: #3D7FFF;

  p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    padding: 22px 65px;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 415px) {
    p{
      padding: 22px 45px;
    }
  }
  @media screen and (min-width: 429px){
    display: none;
  }
}